In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('store.csv')

In [3]:
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [5]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
sales = df[['Order Date','Sales']].set_index('Order Date').resample('M').sum()

In [7]:
sales.head()

                Sales
Order Date
2014-01-31  14236.895
2014-02-28   4519.892
2014-03-31  55691.009
2014-04-30  28295.345
2014-05-31  23648.287

In [24]:
df_sainstagram = pd.read_csv('sa_instagram.csv')
pie_sainstagram = df_sainstagram.Sentiment.value_counts()
pie_sainstagram = pie_sainstagram.reset_index()
pie_sainstagram.columns = ['sentiment','value']
pie_sainstagram

  sentiment  value
0   Neutral    575
1  Positive    295
2  Negative    130

In [40]:
df_tiktok = pd.read_csv('sa_tiktok.csv')
pie_tiktok = df_tiktok.Sentiment.value_counts()
pie_satiktok = pie_tiktok.reset_index()
pie_satiktok.columns = ['sentiment','value']
pie_satiktok

  sentiment  value
0   Neutral    467
1  Positive    333
2  Negative    200

In [41]:
de_instagram = pd.read_csv('demo_instagram.csv')
de_instagram['age']

0    13-17
1    18-24
2    25-34
3    35-44
4    45-54
5      55+
Name: age, dtype: object

In [45]:
df_influencer = pd.read_csv('influencer.csv')
df_influencer

       media  2021  2022
0    YouTube    44    48
1  Instagram    79    93
2     TikTok    46    68

In [5]:
pip install plotly.graph_objects

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement plotly.graph_objects (from versions: none)
ERROR: No matching distribution found for plotly.graph_objects